// Colours
$burnt-orange: #dc5c31; // Burnt Orange
$hunter-green: #30595a; // Hunter Green
$mustard-yellow: #e3bb47; // Mustard Yellow
$warm-grey: #5a5b5f; // Warm Grey
$parent-white: #ffffff; // Parent White
$black: #2e2d2c; // Parent Black
$footer-black: #2f2d2b;
