// Colours
$primary-colour: #dc5c31; // Burnt Orange
$primary-colour-alt: #e3bb47; // Mustard Yellow
$secondary-colour: #30595a; // Hunter Green
$quaternary-colour: #5a5b5f; // Warm Grey
$parent-white: #ffffff; // Parent White
$black: #2e2d2c; // Parent Black
$footer-black: #2f2d2b;
